$font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import 'vcss.scss';
@import 'prism.scss';

main {
  padding: 0 0 2rem;
  max-width: 600px;
}

form button ~ a,
nav a {
  margin-left: 0.5rem;
  @media screen and (max-width: $md-breakpoint) {
    margin: 0;
  }
}

body > header {
  text-align: center;
  padding: 1rem 0;
  margin: 0;
  nav {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    @media screen and (max-width: $xxs-breakpoint) {
      padding: 0;
    }
    div:last-child {
      flex-grow: 1;
      text-align: right;
      @media screen and (max-width: $md-breakpoint) {
        justify-content: flex-end;
        align-items: center;
        display: flex;
      }
    }
    a {
      margin-right: 1rem;
    }
  }
}

a.active {
  text-decoration: underline;
}

code:not([class]) {
  background: #f5f5f5;
  white-space: nowrap;
  font-family: inherit;
  padding: 1px 5px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;

}

#flash {
  text-align: center;
  padding: 0.5rem;
  background: $highlight;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  &:first-letter {
    text-transform: uppercase;
  }
  &:empty {
    display: none;
  }
}

.flex {
  display: flex;
  align-items: baseline;
  :first-child {
    flex-grow: 1;
  }
}

.list {
  border-bottom: 1px solid $light;
  padding: 1rem 0;
}
